*.class

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
1-week/laeyoung/SNAIL/.classpath
1-week/laeyoung/SNAIL/.project
